<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd ">

    <context:component-scan base-package="com.step.core.example"/>

    <bean id="objectFactory" class="com.step.spring.support.factory.SpringManagedObjectFactory"/>

    <bean id="stepConfigurations" class="com.step.core.BasicConfiguration">
        <property name="stepPackages" value="com.step.core.example.steps"/>
        <property name="stepConfigurationFiles" value="step-example.xml,step-request-params.xml"/>
    </bean>

    <bean id="initializeStepFramework" class="com.step.core.InitializeStepFramework" init-method="initialize">
        <property name="configuration" ref="stepConfigurations"/>
        <property name="objectFactory" ref="objectFactory"/>
    </bean>

</beans>