<html><head><title>Service Details</title>
<link type="text/css" href="bootstrap.min.css" rel="stylesheet"/>
</head><body><br>
<table class="table table-condensed table-hover table-striped table-bordered" >
<tr>
<td>&nbsp;<font colspan="2"><span class="label label-info">$REQUEST$</span></td>
</tr>
<tr>
<td  >&nbsp;Steps&nbsp;</td>
<td>
	$STEPS$
</td>
</tr>
<tr>
<td  >&nbsp;Alias&nbsp;</td>
<td>
	$ALIAS$
</td>
</tr>
<tr>
<td >&nbsp;Description&nbsp;</td>
<td>
    <div class="alert alert-info">$DESCRIPTION$</div>
</td>
</tr>
<tr>
<td >&nbsp;Inputs&nbsp;</td>
<td>
$INPUTS$
</td>
</tr>
<tr>
<td >&nbsp;Output&nbsp;</td>
<td>$OUTPUT$</td>
</tr>
<tr>
<td >&nbsp;Plugins&nbsp;</td>
<td >
$PLUGINS$
</td>
</tr>
</table>
</body>
</html>