<html><head><title></title><link type="text/css" href="bootstrap.min.css" rel="stylesheet"/><style type="text/css">body {	font-family:verdana,arial,sans-serif;	font-size:15pt;	margin:8px 22px;	background-color:#f0eef0;	}</style></head><body>
<span class="label label-warning">$SOFTWARE_VERSION$</span></body></html>